# Environnement virtuel
venv/
ENV/
env/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Logs et temporaires
*.log
*.tmp

# Système
.DS_Store
Thumbs.db

models/*.pkl
models/*.joblib

data/raw/

data/processed/
data/train_test/

# VS Code
.vscode/